/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #e5e5e5;

  app-root tp-login{
    justify-content: center;
    display: flex;
    align-items: center;
    height: 100%;
  }
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 5vw;
}

.columns{
  display: flex;
  gap: 15px;
}

mat-form-field{
  width: 100%;
}

.cancel-confirm{
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-top: 15px;

  div{
    display: flex;
    gap: 15px;
  }
}

mat-card{
  padding: 3%;
}

mat-card.pantalla-mat-card{
  height: auto;

  mat-card-content{
    height: 100%;
  }
}

form .columns:not([hidden]) {
  display: flex;
  gap: 15px;
}

form .columns:not([hidden]) > * {
  width: 100%;
  box-sizing: border-box;
}

@media screen and (max-width: 845px) {
  form .columns {
    flex-wrap: wrap;
  }
}

.matSnackBarStyle{
  button{
    color: #dedede !important;
  }

}
