.login-mat-card{
  width: 400px;
  height: 440px;

  top: 20%;
  right: -40%;
}

.account-types{
  display: flex;
  justify-content: center;
  width: 150px;
}

.center{
  display: flex;
  justify-content: center;
}
