<mat-card class="pantalla-mat-card">
  <mat-card-content>

    <h1>Registrar reserva periodica:</h1>
      <mat-stepper class="mat-step">
        <mat-step [stepControl]="registrarReservaForm">
          <form [formGroup]="registrarReservaForm">
            <ng-template matStepLabel>Datos:</ng-template>

            <div class="grid-container">
              <div class="primera-mitad grid-item">

                <mat-form-field appearance="outline">
                  <mat-label>Periodo</mat-label>
                  <mat-select formControlName="tipoPeriodo">
                    <div *ngFor="let periodo of periodos">
                      <mat-option [value]="periodo.id">{{periodo.name}}</mat-option>
                    </div>
                  </mat-select>

                  <button *ngIf="registrarReservaForm.get('tipoPeriodo')?.value !== null" mat-icon-button matSuffix
                          (click)="registrarReservaForm.get('tipoPeriodo')?.reset(); $event.stopPropagation()">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Nombre Catedra/Seminario/Curso</mat-label>
                  <mat-select formControlName="catedra">
                    <div *ngFor="let catedra of nombreCatedras">
                      <mat-option [value]="catedra">{{catedra.name}}</mat-option>
                    </div>
                  </mat-select>

                  <button *ngIf="registrarReservaForm.get('catedra')?.value !== null" mat-icon-button matSuffix
                          (click)="registrarReservaForm.get('catedra')?.reset(); $event.stopPropagation()">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Tipo de aula</mat-label>
                  <mat-select formControlName="tipoAula">
                    <div *ngFor="let aula of tipoAulas">
                      <mat-option [value]="aula.id">{{aula.name}}</mat-option>
                    </div>
                  </mat-select>

                  <button *ngIf="registrarReservaForm.get('tipoAula')?.value !== null" mat-icon-button matSuffix
                          (click)="registrarReservaForm.get('tipoAula')?.reset(); $event.stopPropagation()">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Cantidad de alumnos</mat-label>
                  <input matInput formControlName="cantAlumnos" mask="0*" maxlength="4">
                </mat-form-field>

                <mat-form-field appearance="outline">
                  <mat-label>Nombre del docente</mat-label>
                  <mat-select formControlName="docente">
                    <div *ngFor="let docente of docentes">
                      <mat-option [value]="docente">{{docente.apellido | uppercase}}, {{docente.nombre}}</mat-option>
                    </div>
                  </mat-select>

                  <button *ngIf="registrarReservaForm.get('docente')?.value !== null" mat-icon-button matSuffix
                          (click)="registrarReservaForm.get('docente')?.reset(); $event.stopPropagation()">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>



                <mat-form-field appearance="outline">
                  <mat-label>Correo electronico</mat-label>
                  <input matInput formControlName="correoDocente" maxlength="50">
                </mat-form-field>

              </div>

              <mat-divider [vertical]="true"></mat-divider>

              <div class="segunda-mitad-periodica grid-item">

                <div *ngFor="let dia of dias">

                  <div class="dias-semanales">

                    <mat-checkbox
                      [checked]="dia.value"
                      (change)="changeCheckbox(dia)"
                      [color]="'primary'"
                    >
                      <mat-label class="label-dia">{{dia.name}}</mat-label>
                    </mat-checkbox>

                    <mat-form-field appearance="outline">
                      <mat-label>Hora de inicio</mat-label>
                      <mat-select [disabled]="!dia.value">
                        <div *ngFor="let hora of horas">
                          <mat-option [value]="hora.id" (onSelectionChange)="asignarHora(dia, hora, $event)">
                            {{hora.name}}
                          </mat-option>
                        </div>
                      </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline">
                      <mat-label>Duracion</mat-label>
                      <mat-select [disabled]="!dia.value">
                        <div *ngFor="let duracion of duraciones">
                          <mat-option [value]="duracion.id" (onSelectionChange)="asignarDuracion(dia, duracion, $event)">
                            {{duracion.name}} Mins.
                          </mat-option>
                        </div>
                      </mat-select>
                    </mat-form-field>

                  </div>
                </div>
              </div>
            </div>

            <div class="cancel-confirm">
              <button mat-button mat-raised-button matStepperPrevious (click)="close()">Cancelar</button>

              <div>
                <button mat-button mat-raised-button color="primary"
                        (click)="siguiente()"
                        [disabled]="registrarReservaForm.invalid || !todosValidos"
                >
                  Siguiente
                </button>
              </div>
            </div>

          </form>
        </mat-step>
        <mat-step [stepControl]="registrarAulasForm">
          <form [formGroup]="registrarAulasForm">
            <ng-template matStepLabel>Aula:</ng-template>

            <div class="grid-container">
              <div class="primera-mitad grid-item border-list">

                <div mat-subheader>Fechas disponibles:</div>

                <mat-selection-list [multiple]="false" style="max-height: 440px; overflow-y: auto;" formControlName="fechaSeleccionada">
                  <mat-list-option *ngFor="let fecha of fechasDisponibles" [value]="fecha" [color]="'primary'">
                    <div matListItemTitle>
                      {{fecha.diaReservado.fechaReserva | date: 'dd/MM/yyyy'}} - {{fecha.diaReservado.horaInicio.substring(0,5)}}
                      <span *ngIf="fecha.diaReservado.idAula"> <mat-icon class="green-check">check_small</mat-icon> </span>
                    </div>
                    <mat-icon matListItemIcon>calendar_month</mat-icon>
                  </mat-list-option>
                </mat-selection-list>

              </div>

              <mat-divider [vertical]="true"></mat-divider>

              <div class="segunda-mitad-periodica grid-item border-list">

                <ng-container *ngIf="fechaSeleccionada">

                  <div mat-subheader>Aulas disponibles para el
                    {{fechaSeleccionada.diaReservado.fechaReserva | date: 'dd/MM/yyyy'}} - {{fechaSeleccionada.diaReservado.horaInicio.substring(0,5)}}:
                  </div>

                  <mat-selection-list [multiple]="false" formControlName="aulaSeleccionada">
                    <mat-list-option class="aula-seleccionada" *ngFor="let aula of opcionesAulas" [value]="aula.numero" [color]="'primary'">
                      <span matListItemTitle>{{aula.nombre}}</span>
                      <span matListItemLine>Ubicacion: Piso {{aula.piso}}.</span>
                      <span matListItemLine>Capacidad: {{aula.capacidad}} Personas.</span>
                      <span matListItemLine>Caracteristicas: {{listaCaracteristicas(aula)}}.</span>
                      <br>
                    </mat-list-option>
                  </mat-selection-list>

                </ng-container>

              </div>
            </div>

            <br>
            <br>

            <div class="cancel-confirm">
              <button mat-button mat-raised-button (click)="close()">Cancelar</button>

              <div>
                <button mat-button mat-raised-button matStepperPrevious (click)="retrocederStep()">Atras</button>
                <button mat-button mat-raised-button matStepperNext color="primary" (click)="submit()" [disabled]="!disableRegistrar">Registrar</button>
              </div>
            </div>
          </form>
        </mat-step>
      </mat-stepper>

  </mat-card-content>
</mat-card>
