<mat-toolbar class="header-toolbar">

  <div class="header-home">
    <img src="assets/utn-icon.png" class="logo-home" alt="icono utn">
  </div>

  <div class="header-buttons" [ngSwitch]="user.rol?.id">

    <button mat-button mat-stroked-button (click)="redirect('')">Inicio</button>

    <div *ngSwitchCase="1">
      <button mat-button mat-stroked-button (click)="redirect('buscar-bedel')">Buscar bedel</button>
      <button mat-button mat-stroked-button (click)="redirect('registrar-bedel')">Registrar bedel</button>
    </div>

    <div *ngSwitchCase="2">

      <button mat-button mat-stroked-button [matMenuTriggerFor]="registrarReserva">Registrar reserva</button>

      <mat-menu #registrarReserva="matMenu" xPosition="after">
        <button mat-menu-item (click)="redirect('registrar-reserva-periodica')">
          <span>Periodica</span>
        </button>
        <button mat-menu-item (click)="redirect('registrar-reserva-esporadica')">
          <span>Esporadica</span>
        </button>
      </mat-menu>

      <button mat-button mat-stroked-button (click)="redirect('buscar-aula')">Buscar aula</button>

      <button mat-button mat-stroked-button [matMenuTriggerFor]="listadoReservas">Listado de reservas</button>

      <mat-menu #listadoReservas="matMenu" xPosition="after">
        <button mat-menu-item (click)="redirect('listado-reserva-dia')">
          <span>Por día</span>
        </button>
        <button mat-menu-item (click)="redirect('listado-reserva-curso')">
          <span>Por curso</span>
        </button>
      </mat-menu>
    </div>

    <div *ngSwitchDefault>
      <h3> Invalid role</h3>
    </div>

  </div>


  <button mat-button class="header-user" [matMenuTriggerFor]="options">
    <div class="header-user-complete">
      <div class="header-user-names">
        <div>
          {{ user.apellido | titlecase }}, {{ user.nombre| titlecase }}
        </div>
        <div class="header-user-rol">
          {{ (user.rol?.name | titlecase) || 'Invalid role' }}
        </div>
      </div>
      <img class="header-user-icon" src="assets/user-icon.png" alt="icono">
    </div>

    <mat-menu #options="matMenu" xPosition="before">
      <button mat-menu-item (click)="disconect()">Logout</button>
    </mat-menu>
  </button>

</mat-toolbar>
