.grid-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 15px;
}

.grid-item {
  padding: 5px;
}

h1{
  text-align: center;
}

.dias-semanales{
  display: flex;
  align-items: baseline;
  height: 65px;

  mat-form-field{
    scale: 0.9;
  }
}

.label-dia{
  display: block;
  width: 65px;
}

.mat-horizontal-stepper-header-container{
  pointer-events: none;
  cursor: not-allowed;
}

mat-list-option.aula-seleccionada{
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding-top: 15px;
}

.columns{
  align-items: baseline;

  button{
    width: 150px;
  }
}

.boton-agregar{
  width: 200px !important;
}

mat-list.lista-fechas{
  border: 1px solid #e0e0e0;
  max-height: 300px;
  overflow-y: auto;
  min-height: 300px;
  border-radius: 5px;
}

.mat-mdc-list-item{
  height: auto !important;
}

.mat-mdc-subheader{
  margin: 0 15px;
}

.mat-mdc-list-item.mdc-list-item--with-three-lines .mat-mdc-list-item-unscoped-content.mdc-list-item__secondary-text{
  -webkit-box-orient: unset !important;
}

.label-dia{
  display: block;
  width: 65px;
}

.mat-horizontal-stepper-header-container{
  pointer-events: none;
  cursor: not-allowed;
}

mat-list-option.aula-seleccionada{
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  padding-top: 15px;
}

.border-list{
  border: 1px solid #e0e0e0;
}

.green-check{
  color: green;
}
